[Unit]
Description=Printing Kiosk Service
After=syslog.target network.target docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
Type=simple
User=printing_kiosk
ExecStart=/home/printing_kiosk/printing_kiosk/venv/bin/python /home/printing_kiosk/printing_kiosk/run.py 172.17.0.1
WorkingDirectory=/home/printing_kiosk/printing_kiosk
Restart=on-abort

[Install]
WantedBy=multi-user.target
